    
body {
    line-height: 1.5em;
    text-shadow: 0px 1px 0px white;
}

#bd h1, #bd h2, #bd h3, #bd h4, #bd h5, #bd h6 {line-height: 1.2em;}
.bd h1, .bd h2, .bd h3, .bd h4, .bd h5, .bd h6 {line-height: 1.2em;}

.sectionHeaderLinks {
    width: 450px;
}

#page {
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}

#hd {
    color: white;
    text-shadow: 0px -1px 1px black;
}

#hd a {
    color: white;
    font-weight: normal;
}

#sectionHeader a {
    padding: 0.5em;
    margin: 0.5em;
    color: white;
    font-weight: normal;
    text-shadow: 0px -1px 1px black;
}

#sectionHeader a:hover {
    background-color: rgb(150, 0, 0);
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

#sectionHeader {
    background-color: rgb(195, 70, 5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(212, 80, 4)), to(rgb(180, 60, 6)));
    height: 9em;
    line-height: 7.2em;
    
    -webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.6);
    
    margin-left: -4px;
    margin-right: -4px;
    overflow: hidden;
}

#sectionNavLinks li {
    font-size: 20px;
}

#sectionHeader h1 {
    color: white;
    font-weight: bold;
    font-family: "Helvetica";
    font-size: 14em;
    letter-spacing:-6px;
    margin-top: 3px;
    text-shadow: 0px 0px 0px black;
}

#siteNavLinks {
    background-color: rgb(64, 33, 20);
    color: white;
    font-size: 110%;
}

#ft {
    background-color: rgb(230, 230, 230);
    color: rgb(55, 55, 55);
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(195, 195, 195);

}

.firstBody { margin: 2em 0; }

.lessBottomMargin {
    padding-bottom: 0;
}

h2 {
    color: rgb(63, 32, 19);
}

.cappDotOrg {font-weight: bold !important;}
.siteLogo {
    text-align: right;
    font-weight: bold;
}

.centered {
    text-align: center;
}

.siteAuth {
    text-align: right;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2px 6px;
    margin-right: 1em;
    color: rgb(245, 245, 245) !important;
    text-shadow: 0px -1px 0px black;
    margin-top: -1px;
}

a.siteAuth:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.15);
}

a.siteAuth:active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05);
}

.homepage h1 {
    font-size: 13em !important;
}

.alt_section {
    background-color: rgb(235, 235, 235);
}

.special_section {
    //background-color: rgb(255, 205, 155);
    //color: rgb(55, 55, 55);
}

.cappUser {
    border: 1px solid gray;
    padding: 1px;
}

.demoApp {
    background-color: white;
    border: 1px dashed rgb(200, 200, 200);
    margin: 1em;
}

.demoPath {
    font-size: 80%;
    color: gray;
}

.smallerText {
    font-size: 90%;
}

.aristoButton {
    font-size: 15px;
    font-weight: bold;
    float: left;
    min-width: 140px;
    text-align: center;
    line-height: 26px;
    padding: 0.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

a:active.aristoRed {
    background-color: rgb(201, 101, 103);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 110, 112)), to(rgb(236, 147, 148)));
}

a:visited.aristoRed {
    color: rgb(102, 36, 36);
}

a:hover.aristoRed {
    -webkit-box-shadow: 0px 0px 4px rgb(237, 160, 160);
    -moz-box-shadow: 0px 0px 4px rgb(237, 160, 160);
}

.aristoRed {
    border: 1px solid rgb(168, 80, 82);
    color: rgb(102, 36, 36);
    background-color: rgb(220, 124, 125);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 147, 148)), to(rgb(210, 110, 112)));
}

a:active.aristoSilver {
    background-color: rgb(200, 200, 200);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(196, 196, 196)), to(rgb(237, 237, 237)));
}

a:visited.aristoSilver {
    color: rgb(79, 79, 79);
}

a:hover.aristoSilver {
    -webkit-box-shadow: 0px 0px 4px rgb(212, 212, 212);
    -moz-box-shadow: 0px 0px 4px rgb(212, 212, 212);
}

.aristoSilver {
    border: 1px solid rgb(174, 174, 174);
    color: rgb(79, 79, 79);
    background-color: rgb(215, 215, 215);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 237, 237)), to(rgb(196, 196, 196)));
}
